.porthole {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(6, auto);
}
/*
.attackers {
    
}*/

.sim {
    justify-self: center;
}

/*
.defenders {
    
}
*/
