/* TEXT STYLES */
body {
    margin:40px auto;
    line-height:1.6;
    font-size:18px;
    color:#444;
    background-color: #EEEEEE;
    padding: 0 10px;
}

h1,h2,h3{
    line-height:1.2
}

.number-input {
  width: 50px;
}


/* LINK STYLES */
a:link {
  color: #252526;
}

a:visited {
  color: #252526;
}

a:hover {
  color: #252526;
}

a:active {
  color: #EEEEEE;
}

/* BUTTON STYLES */
.run-button {
  padding: 10px 24px;
  cursor: pointer;
  background-color: #EEEEEE;
  border: 2px solid #E53935;
  border-radius: 12px;
  color: #E53935;
  margin: 5px;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
}

.menu-button {
  display: block;
  padding: 10px 24px;
  cursor: pointer;
  background-color: #252526;
  border: 2px solid #EEEEEE;
  border-radius: 12px;
  color: #EEEEEE;
  margin: 5px;
  width: 150px;
}

/* FLEXBOX COMPONENT STYLES */
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus {
  font: 2em;
  color: #EEEEEE;
}

.header {
  background-color: #6182B8;
}

.footer {
  background-color: #E53935;
}

.menu {
  background-color: #252526;
}

.unit-input-block  {
  display: table;
}

.unit-input-row {
  display: table-row;
}

.unit-input-cell {
  display: table-cell;
}
